@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Press+Start+2P&display=swap');

body {
  background-color: rgb(155, 0, 0);
  font-family: 'Marcellus SC', serif;
}

h3{
  color: white;
  background-color: rgb(225, 0, 0);
  font-family: 'Press Start 2P', cursive;
}
