@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Press+Start+2P&display=swap');

body, p {
  font-size: 21px;
}

body {
  color: white;
  background-color: rgb(150, 0, 150);
  font-family: 'Marcellus SC', serif;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 45px;
}

.marco {
  margin: auto;
  padding: 0;
  width: 80%;
  text-align: center;
  display: flex;
}
.col {
  padding: 5px;

}
.col1 {
  padding: 5px;
}

.img-adapt {
  width: 100%auto;
  height: 100%auto;
  border: 3px solid black;
  border-radius: 21px;
  display: block;
  margin: auto;

}

.vinculo {
  color: rgb(150, 225, 100);
}
.vinculo:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}
