@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Press+Start+2P&display=swap');

body {
  background-color: rgb(155, 0, 0);
  font-family: 'Marcellus SC', serif;
}

h1{
  color: white;
  background-color: rgb(225, 0, 0);
  font-family: 'Press Start 2P', cursive;
}
ol{
  color: white;
  background-color: rgb(200, 0, 0);
}
ul{
  color: white;
  background-color: rgb(175, 0, 0);
}

.vinculo {
  color: rgb(150, 225, 100);
}
.vinculo:hover {
  color: rgb(255, 0, 0);
}

.bottom {
  
}
